@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}

:root {
  --red: #dd4b39;
}

/* AMENITIES & Facilites  */
.amenities-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.amenities, .facilities {
padding: 80px 10px;
text-align: center;
}
.course-grid {
padding-top: 40px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
grid-column-gap: 30px;
grid-row-gap: 30px;
}

.amenities h3,
.facilities h3 {
  font-size: 38px;
  font-weight: 700;
  color:#dd4b39;
}

.course-grid {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.course-grid .block {
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 220px;
  transition: .3s ease-in!important;
  border-radius: 12px;
  z-index: 111;
}

.course-grid .img-container {
  height: 75%;
  display: grid;
  place-items: center;
}

.course-grid .block i {
  width: 100%;
  font-size: 45px;
}

.course-grid .block h2 {
  height: 25%;
  /* padding-top: 20px; */
  font-size: 23px;
  font-weight: 600;
  color: var(--bold-color);
  margin: 0;
  /* transition: .3s ease-in; */
}

.course-grid .block:hover {
  box-shadow: 0 2px 20px rgba(111, 172, 68, .3);
  background: #dd4b39;
}

.course-grid .block:hover h2 {
  color: #fff;
}

.course-grid .block:hover i {
  color: #fff;
}

.fa-snowflake:before {
  content: "\f2dc";
}

@media (min-width: 1200px) {
  .amenities-container {
      max-width: 1140px;
  }
}

@media (max-width:500px) {
  .map-frame {
      width: 300px;
  }
  .logo {
      max-width: 70px;
  }
}

.google-maps-contact-content .google-maps {
  position: relative;
  z-index: 1;
}

.container-fluid {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}
.google-maps-contact-content {
position: relative;
z-index: 1;
background-color: #fff;
border-radius: 4px;
-webkit-box-shadow: 0 2px 40px 8px rgb(15 15 15 / 15%);
box-shadow: 0 2px 40px 8px rgb(15 15 15 / 15%);
padding: 35px;
}


/* Featured Rooms */
.expo{
  background-color: #fff;
  color: #000000;
  min-width: 100%;
}

.exp-container{
  /* border-radius: 20px; */
  background-color:#dd4b39;
  padding:30px;
  color: #fff;
}

.exp-padding{
  padding: 0 40px !important;
}

.exp-padding1{
  padding: 20px 20px !important;
}

img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.img-container{
  overflow: hidden;
  height: 85%;
}

.img-container img{
  transition: .3s ease-in
}
.block:hover .img-container img{
  transform: scale(1.3);
}
/* .welcome{
  padding:80px;
} */

.welcome .carousel-item{
   overflow: hidden;
   height: auto;
}

.welcome .carousel-item img{
   overflow: hidden;
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 24px;
}

.block{
   width: 95%;
   border-radius: 10px;
   overflow: hidden;
}

.block h4{
   font-size: 22px;
   font-weight: 600;
   height: 15%;
   margin:0;
   display: grid;
   place-items: center;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.title{
  font-size: 32px;
  font-weight: 800;
  color: var(--secondary-color);
}

.padding15{
  padding: 15px;
}
/* ROOM AND SUITES */
.marginbot10 {
  margin-bottom: 10px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.title-sml {
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  color: #111;
}

.marginbot20 {
    margin-bottom: 20px;
}

.bookRoomFac{
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6em;
}

.title-big {
  font-family: Georgia, "Old Standard TT", Times, serif;
  font-size: 36px;
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 4px;
  padding-left: 0px;
  color: #111;
  letter-spacing: 0.1pt;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 400;
}


#featured {
  width: 100%;
  background: #FFF;
  position: relative;
  margin: 0;
  padding: 0;
}
#featured .flexslider {
  padding: 0;
  background: none;
  position: relative;
  zoom: 1;
  margin-top: 0;
  margin-right: -15px;
  margin-bottom: 30px;
  margin-left: -15px;
}

/* rooms */
.room{
  padding: 100px 0;
}

.rooms-header .title{
   color: #56c5b6;
}

.room h4{
   border:2px solid #56c5b6;
   border-top: none;
}
.book-now1 {
  color: #000000;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 20px;
  transition: .3s ease-in;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin-top: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.padding20 {
  padding: 20px;
}

.book-now1:hover{
  background-color: #FFF;
  color: #dd4b39;
}
.flex {
  display: flex;
  justify-content: space-around;
  
}
.course-grid.img-container h2:hover{
color: #fff;
}